.menu__item:nth-child(4) > .menu__anchor {
  color: var(--sky-blue);
}

.tutoring-main {
  max-width: 1366px;
  margin: auto;
  padding: 0 2rem;
}

.page-title {
  font: var(--h1-others);
  color: var(--dark-blue);
  margin: 6rem 0 7rem 0;
  text-align: center;
}

.tutoring-info__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6rem;
  align-items: center;
}

.tutoring-info__text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 3.63rem;
}

.tutoring-info__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.tutoring-info__text-title {
  font: var(--h2);
  color: var(--black);
  margin: 0;
  text-align: center;
}

.tutoring-info__text-content {
  font: var(--p);
  color: var(--black);
  text-align: left;
}

.tutoring-info__img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.tutoring-info__link {
  color: var(--sky-blue);
}

.tutoring-info__link:hover,
.tutoring-info__link:focus-visible {
  color: var(--dark-blue);
}

.tutoring-info__link:active {
  text-decoration: none;
}

.tutoring-cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutoring-cta__wrapper {
  background: var(--off-white);
  max-width: 33rem;
  box-shadow: 0 15px 5px -7px rgb(211, 210, 210);
  border: 1px solid rgb(221, 220, 220);
  margin: 0 2rem;
}

.tutoring-cta__title {
  font: var(--h2);
  color: var(--off-white);
  font-size: 2.35rem;
  background: var(--dark-blue);
  margin: 0;
  padding: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.tutoring-cta__content {
  padding: 0 2rem;
  text-align: justify;
  font: var(--p);
}

.tutorial-cta__link {
  color: var(--sky-blue);
}

.tutorial-cta__link:hover,
.tutoring-cta__link:focus-visible {
  color: var(--dark-blue);
}

.tutorial-cta__link:active {
  text-decoration: none;
}

.disclaimer {
  color: var(--gray);
  font: var(--caption);
  text-align: center;
  max-width: 33rem;
  margin: 2.5rem auto 0 auto;
  padding: 0 1rem;
}

.footer,
.contact {
  background: var(--off-white);
}

.footer {
  margin-top: 7rem;
}

.bold {
  font-weight: 700;
}

@media (max-width: 1300px) {
  .tutoring-info__wrapper {
    column-gap: 2rem;
    margin-bottom: 4rem;
  }

  .tutoring-info__text-wrapper {
    margin: 0 3rem;
  }

  .tutoring-info__text-content {
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .tutoring-info__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .tutoring-info__wrapper--2 {
    flex-direction: column-reverse;
  }

  .tutoring-info__text-wrapper {
    margin-top: 3rem;
  }

  .page-title {
    font-size: 4rem;
    margin: 3rem auto;
  }

  .tutoring-info__text-title {
    font-size: 2rem;
  }

  .footer {
    margin-top: 4rem;
  }
}

@media (max-width: 600px) {
  .page-title {
    font-size: 3.5rem;
    margin: 3rem auto;
  }

  .tutoring-main {
    padding: 0 1rem;
  }

  .tutoring-info__text-wrapper {
    margin: 3rem auto 0 auto;
  }

  .tutoring-cta__content {
    text-align: center;
    padding: 0 1rem;
  }
}

@media (max-width: 400px) {
  .tutoring-info__text-wrapper {
    margin: 3rem 1rem 0 1rem;
  }

  .tutoring-cta__title {
    font-size: 2rem;
  }
}
